@section Title {
    Aggiungi dipendente
}

@section Pretitle {
    <h3 class="text-center text-purple">Compila il form per aggiungere un dipendente</h3>
}
<div class="text-center text-purple">
    <form>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br><br>
        <label for="cognome">Cognome:</label>
        <input type="text" id="cognome" name="cognome"><br><br>
        <label for="indirizzo">Indirizzo:</label>
        <input type="text" id="indirizzo" name="indirizzo"><br><br>
        <label for="codiceFiscale">Codice Fiscale:</label>
        <input type="text" id="codiceFiscale" name="codiceFiscale"><br><br>
        <label for="sposato">Sposato:</label>
        <input type="text" id="sposato" name="sposato"><br><br>
        <label for="figli">Figli a carico:</label>
        <input type="text" id="figli" name="figli"><br><br>
        <label for="mansione">Mansione:</label>
        <input type="text" id="mansione" name="mansione"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>

